<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Parse</key>
	<dict>
		<key>ApplicationID</key>
		<string>ABXWdr3QElQxJ6JXPZ2kbLGe3RmPculkoMF2oA6x</string>
		<key>ClientKey</key>
		<string>TWIk4FCSGc1HXexXDxr7QaadCSZ0U66W5jlVkPg8</string>
	</dict>
</dict>
</plist>
